<mat-card>
    <mat-card-title>Alterar Lucro</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome"
                [(ngModel)]="despesa.setor" name="setor">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)"
                [(ngModel)]="despesa.price" name="price">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateDespesa()" color="primary">
        Atualizar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>